.playersContainer {
    width: 70%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.hirePlayerContainer {
    width: 30%;
    float: left;
    margin-top: 10px;
}